// Set namespace for classes
// --------------------------------------
$namespace: 'mu-' !default;


// Require modules
// --------------------------------------
$layout: true !default;
$media-object: true !default;
$hide-show: true !default;
$typography: true !default;
$transform: true !default;
