// Hide/Show stuff
// --------------------------------------
.#{$namespace}-show {
  display: block;
}

.#{$namespace}-hide {
  display: none;
}

.#{$namespace}-hide--sm {
  display: none;
}

@media (min-width: 768px) {
  .#{$namespace}-hide--sm {
    display: block;
  }

  .#{$namespace}-hide--md {
    display: none;
  }
}

@media (min-width: 1024px) {
  .#{$namespace}-hide--lg {
    display: none;
  }
}
