// Hide/Show stuff
// --------------------------------------
.#{$namespace}show {
  display: block;
}

.#{$namespace}show--inline {
  display: inline-block;
}

.#{$namespace}hide {
  display: none;
}

.#{$namespace}hide--accesibility {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.#{$namespace}hide--sm {
  display: none;
}

@media (min-width: 768px) {
  .#{$namespace}hide--sm {
    display: block;
  }

  .#{$namespace}hide--md {
    display: none;
  }
}

@media (min-width: 1024px) {
  .#{$namespace}hide--lg {
    display: none;
  }
}
